<div>
    <h1>Bem vindo!</h1>
    <p>Por favor, preencha seus dados para acessar a loja!</p>
</div>

<div>
    <form #formCliente="ngForm" (ngSubmit)="onSubmitCliente(formCliente)" novalidate>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" #nome="ngModel" ngModel required /><br>
        <label for="endereco">Endereço: </label>
        <input type="text" name="endereco" #endereco="ngModel" ngModel required /><br>

        <button type="submit" routerLink="/produto">Entrar</button>
    </form>
</div>
