<h1>Finalize a sua compra</h1>

<form #formPedido="ngForm" (ngSubmit)="finalizarCompra()">
    <label for="pagamento">Forma de Pagamento: </label><br>
    <div *ngFor="let forma of formasDePagamento">
        <label for="pagamento">
        <input [value]="forma.nome" type="radio" name="pagamento"  [(ngModel)]="forma.nome"/>  {{forma.descricao}}
        </label>
    </div>

    <input type="checkbox" name="entrega" [(ngModel)]="pedido.frete_tarifado" />
    <label for="entrega">Desejo receber o produto em casa</label><br >

    <button type="submit">Finalizar Compra</button>
</form>